* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

.hero {
  width: 100%;
  height: 720px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.053), rgba(0, 0, 0, 0.656)), url(../images/xbg_1.jpg.pagespeed.ic.fKkeEfHArU.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 750px;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
.hero .nav {
  width: 100%;
  height: 50px;
  position: absolute;
  display: inline-block;
  display: flex;
  z-index: 100;
}
.hero .nav .d1 {
  width: 100%;
  position: relative;
}
.hero .nav .d1 .logo {
  position: absolute;
  left: 25%;
  margin-top: 28px;
  font-size: 25px;
}
.hero .nav .d2 {
  width: 100%;
  text-align: center;
  margin-top: 33px;
}
.hero .nav .d2 .checkbtn {
  font-size: 20px;
  color: #fff;
  float: right;
  line-height: 40px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
  margin-top: 0px;
  transition-duration: 200ms;
}
.hero .nav .d2 .checkbtn:hover {
  font-size: 25px;
}
.hero .nav .d2 #check {
  display: none;
}
.hero .nav .d2 ul {
  margin-top: -10px;
}
.hero .nav .d2 ul li {
  display: inline-block;
  list-style-type: none;
}
.hero .nav .d2 ul li a {
  position: relative;
  text-decoration: none;
  margin-right: 25px;
  color: black;
  transition-duration: 200ms;
  font-size: 15px;
}
.hero .nav .d2 ul li a:active {
  color: #fff;
}
.hero .nav .d2 ul li a:hover {
  color: #fff;
}
.hero .d1 {
  position: absolute;
  bottom: 80px;
  width: 100%;
  margin: auto;
}
.hero .d1 h3 {
  margin-bottom: 30px;
  color: #fff;
}
.hero .d1 h3 a {
  text-decoration: none;
  color: #fff;
  transition-duration: 200ms;
}
.hero .d1 h3 a:hover {
  color: #cf7500;
}
.hero .d1 h3 i {
  font-size: 15px;
}
.hero .d1 h1 {
  font-size: 90px;
  color: #fff;
}
.hero .scrol {
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 10000;
}
.hero .scrol a {
  text-decoration: none;
}
.hero .scrol a button {
  background-color: rgba(79, 79, 224, 0.42);
  padding: 10px;
  position: absolute;
  right: 30px;
  top: 650px;
  transition-duration: 200ms;
  border-radius: 20px;
  cursor: pointer;
}
.hero .scrol a button:hover {
  box-shadow: 0px 0px 15px 0px #fff;
}

@media (max-width: 991px) {
  .hero .nav {
    width: 100%;
    height: 50px;
    background-color: #073c5a;
  }
  .hero .nav .d1 {
    width: 100%;
    display: block;
    text-align: center;
  }
  .hero .nav .d1 .logo {
    margin-top: 5px;
  }
  .hero .nav .d1 .logo h3 {
    color: #fff;
  }
  .hero .nav .d2 {
    width: 100%;
    position: relative;
  }
  .hero .nav .d2 .chck {
    width: 100%;
    height: 30px;
    position: relative;
  }
  .hero .nav .d2 .checkbtn {
    display: block;
    position: absolute;
    top: -22px;
  }
  .hero .nav .d2 ul {
    position: fixed;
    width: 100%;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.69);
    left: -150%;
    text-align: center;
    transition-duration: 700ms;
  }
  .hero .nav .d2 ul li {
    display: block;
    margin-top: 20px;
  }
  .hero .nav .d2 ul li a {
    font-size: 15px;
  }
  .hero .nav .d2 ul li:after {
    width: 0%;
  }
  .hero .nav .d2 #check:checked ~ ul {
    left: 0%;
  }
}
@media (min-width: 350px) and (max-width: 550px) {
  .hero .d {
    width: 350px;
  }
  .hero .d h3 {
    font-size: 30px;
  }
  .hero .d h2 {
    font-size: 35px;
  }
  .hero .d p {
    width: 90%;
    font-size: 18px;
  }
  .hero .d a {
    padding: 13px;
    font-size: 15px;
  }
}
@media (max-width: 410px) {
  .hero .d1 h1 {
    font-size: 35px;
  }
  .hero .d {
    width: 90%;
  }
  .hero .d h3 {
    width: 100%;
    font-size: 20px;
  }
  .hero .d h2 {
    width: 100%;
    font-size: 23px;
  }
  .hero .d p {
    width: 90%;
    font-size: 13px;
  }
  .hero .d a {
    padding: 10px;
    font-size: 13px;
  }
}
.BLOG {
  width: 100%;
  height: 800px;
  text-align: center;
  overflow: hidden;
}
.BLOG .d1 {
  width: 100%;
  margin-top: 40px;
  display: inline-block;
}
.BLOG .d1 h6 {
  opacity: 0.6;
  font-size: 15px;
  margin-bottom: 10px;
  color: #1e4359;
}
.BLOG .d1 h2 {
  font-size: 40px;
  color: #1e4359;
}
.BLOG .d2 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.BLOG .d2 .dd1 {
  display: grid;
  grid-template-columns: repeat(2, 290px);
}
.BLOG .d2 .dd1 .ddd1 {
  width: 100%;
  height: 300px;
}
.BLOG .d2 .dd1 .ddd1 img {
  width: 100%;
  height: 90%;
}
.BLOG .d2 .dd1 .ddd2 {
  width: 100%;
  height: 90%;
  background-color: #fafafa;
  border-left: none;
  overflow: hidden;
  text-align: left;
}
.BLOG .d2 .dd1 .ddd2 .dddd2 {
  width: 90%;
  margin-top: 30px;
  margin-left: 20px;
}
.BLOG .d2 .dd1 .ddd2 .dddd2 .icon {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}
.BLOG .d2 .dd1 .ddd2 .dddd2 .icon .icon1 {
  margin-right: 10px;
  display: flex;
}
.BLOG .d2 .dd1 .ddd2 .dddd2 .icon .icon1 i {
  color: #cf7500;
  margin-right: 5px;
  font-size: 12px;
}
.BLOG .d2 .dd1 .ddd2 .dddd2 .icon .icon1 p {
  font-size: 12px;
}
.BLOG .d2 .dd1 .ddd2 .dddd2 h2 {
  font-size: 20px;
  margin-bottom: 30px;
}
.BLOG .d2 .dd1 .ddd2 .dddd2 p {
  opacity: 0.5;
}

@media (min-width: 767px) and (max-width: 1230px) {
  .BLOG {
    height: 1150px;
  }
  .BLOG .d1 h2 {
    font-size: 30px;
  }
  .BLOG .d2 {
    grid-template-columns: repeat(1, 80%);
    row-gap: 20px;
  }
  .BLOG .d2 .dd1 {
    grid-template-columns: repeat(2, 50%);
  }
  .BLOG .d2 .dd1 .ddd1 {
    width: 100%;
    height: 230px;
  }
  .BLOG .d2 .dd1 .ddd1 img {
    height: 100%;
  }
  .BLOG .d2 .dd1 .ddd2 {
    width: 100%;
    height: 230px;
  }
}
@media (min-width: 499px) and (max-width: 767px) {
  .BLOG {
    height: 1900px;
  }
  .BLOG .d2 {
    grid-template-columns: repeat(1, 95%);
    row-gap: 30px;
  }
  .BLOG .d2 .dd1 {
    grid-template-columns: repeat(1, 100%);
  }
  .BLOG .d2 .dd1 .ddd1 {
    height: 200px;
    width: 99%;
  }
  .BLOG .d2 .dd1 .ddd1 img {
    height: 100%;
  }
  .BLOG .d2 .dd1 .ddd2 {
    width: 99%;
    height: 200px;
  }
}
@media (max-width: 499px) {
  .BLOG {
    height: 2000px;
  }
  .BLOG .d1 h2 {
    font-size: 30px;
  }
  .BLOG .d2 {
    grid-template-columns: repeat(1, 98%);
    row-gap: 20px;
  }
  .BLOG .d2 .dd1 {
    grid-template-columns: repeat(1, 100%);
  }
  .BLOG .d2 .dd1 .ddd1 {
    height: 200px;
    width: 99%;
  }
  .BLOG .d2 .dd1 .ddd1 img {
    height: 100%;
  }
  .BLOG .d2 .dd1 .ddd2 {
    width: 99%;
    height: 230px;
  }
}
.footre {
  width: 100%;
  height: 490px;
  background-color: #d4eaf5;
  position: relative;
}
.footre .d1 {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: auto;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-top: 60px;
}
.footre .d1 .dd1 {
  width: 100%;
  height: 400px;
}
.footre .d1 .dd1 h3 {
  font-size: 25px;
  margin-bottom: 30px;
}
.footre .d1 .dd1 p {
  line-height: 25px;
  opacity: 0.6;
}
.footre .d1 .dd1 .icon {
  margin-top: 40px;
}
.footre .d1 .dd1 .icon i {
  padding: 10px;
  background-color: #509dc4;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
.footre .d1 .dd1 .icons .ico {
  display: flex;
  margin-bottom: 30px;
}
.footre .d1 .dd1 .icons .ico i {
  transition-duration: 200ms;
  margin-right: 10px;
  font-size: 10px;
  cursor: pointer;
}
.footre .d1 .dd1 .icons .ico a {
  transition-duration: 200ms;
  margin-top: -10px;
  text-decoration: none;
  color: black;
}
.footre .d1 .dd1 .icons i:hover {
  color: #509dc4;
  opacity: 1;
}
.footre .d1 .dd1 .icons a:hover {
  color: #509dc4;
  opacity: 1;
}
.footre .d1 .dd1 .ddd1 {
  display: flex;
  margin-bottom: 20px;
}
.footre .d1 .dd1 .ddd1 .img {
  width: 80px;
  height: 60px;
  position: relative;
}
.footre .d1 .dd1 .ddd1 .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.footre .d1 .dd1 .ddd1 .icons {
  margin-top: 10px;
  margin-left: 20px;
}
.footre .d1 .dd1 .ddd1 .icons .add {
  display: flex;
}
.footre .d1 .dd1 .ddd1 .icons .add .icon1 {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}
.footre .d1 .dd1 .ddd1 .icons .add .icon1 i {
  font-size: 13px;
  margin-right: 8px;
  margin-top: 5px;
  color: #509dc4;
  cursor: pointer;
}
.footre .d1 .dd1 .ddd1 .icons .add .icon1 p {
  font-size: 13px;
}
.footre .d1 .dd1 .ddd1 .icons p {
  opacity: 1;
  font-size: 18px;
  line-height: 22px;
}
.footre .d1 .dd1 .icon4 {
  display: flex;
  margin-bottom: 20px;
}
.footre .d1 .dd1 .icon4 i {
  color: #509dc4;
  margin-right: 10px;
}
.footre .d1 .dd1 .icon4 p {
  opacity: 1;
}
.footre .d2 {
  width: 100%;
  height: 90px;
  background-color: #abd6eb;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.footre .d2 p {
  margin-top: 45px;
  display: inline-block;
  transform: translate(-50% 0%);
  color: rgba(0, 0, 0, 0.713);
}
.footre .d2 p a {
  text-decoration: none;
  color: #0a68ff;
}

@media (max-width: 1026px) {
  .footre {
    height: 790px;
  }
  .footre .d1 {
    grid-template-columns: repeat(2, 55%);
    justify-content: center;
    margin: auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .footre .d1 .dd1 {
    height: 300px;
  }
}
@media (max-width: 550px) {
  .footre {
    height: 1350px;
  }
  .footre .d1 {
    grid-template-columns: repeat(1, 95%);
    justify-content: center;
    row-gap: 10px;
    margin: auto;
  }
  .footre .d1 .dd1 {
    width: 100%;
  }
  .footre .d1 .dd1 .ddd1 {
    width: 100%;
    height: 100px;
  }
  .footre .d1 .dd1 .ddd1 p {
    width: 100%;
  }
  .footre .d1 .dd1 .ddd1 a {
    margin-right: 38px;
  }
  .footre .d1 .dd1 .ddd1 a i {
    padding: 10px;
  }
  .footre .d2 p {
    font-size: 10px;
  }
}
@media (max-width: 330px) {
  .footre {
    height: 1350px;
  }
  .footre .d1 {
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    row-gap: 10px;
    margin: auto;
  }
  .footre .d1 .dd1 {
    width: 100%;
  }
  .footre .d1 .dd1 .ddd1 {
    width: 100%;
    height: 100px;
  }
  .footre .d1 .dd1 .ddd1 p {
    width: 100%;
  }
  .footre .d1 .dd1 .ddd1 .icons .add .icon1 p {
    font-size: 10px;
  }
  .footre .d1 .dd1 .ddd1 .icons p {
    font-size: 17px;
  }
}/*# sourceMappingURL=min4.css.map */